.about {
  position: relative;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: rgba($color: #68b738, $alpha: 85%);
}

.about__image-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 138px;
}

.about__image-container::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  background-image: url("../../img/index/about-back-image.png");
  z-index: -1;
  background-color: #3f3f42;
}

.about__title {
  display: flex;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 0 25px;
  z-index: 1;
}

.about__description {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 164px;
  margin: 0;
  z-index: 1;
}

.about__image {
  display: inline;
  position: absolute;
  top: 167px;
  left: 20px;
}
