.additional-field {
  @include font-form;
  padding: 11px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 32px 0 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 0 32px;
  }
}

.additional-field__title {
  @include field-title;
  position: relative;
  padding: 11px 139px 23px 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 56px 440px 25px 2px;

    &::before {
      bottom: 37px;

      @media (min-width: $desktop-width) {
        bottom: 37px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 57px 1008px 25px 0;
  }

  &::after {
    @include title-line;
    min-width: 136px;
    top: 26px;
    right: -20px;

    @media (min-width: $tablet-width) {
      width: 446px;
      top: 78px;
      right: -47px;
    }

    @media (min-width: $desktop-width) {
      width: 1078px;
      top: 80px;
      right: -109px;
    }
  }
}

.additional-field__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 12px;
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    // не работает колонки
    column-gap: 64px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 104px;
    row-gap: 15px;
  }
}

.additional-field__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;

  &:nth-child(3) {
    @media (min-width: $desktop-width) {
      margin-left: 35px;
    }
  }

  &:nth-child(4) {
    @media (min-width: $desktop-width) {
      margin-left: 92px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.additional-field__input {
  @include visually-hidden;

  &:disabled ~ span {
    opacity: 30%;
    cursor: auto;
  }
}
