.additional-field {
  @include font-form;
  align-items: center;
  padding: 12px 0 24px;
}

.additional-field__title {
  position: relative;
  padding: 12px 0 40px;

  &::after {
    @include title-line;
    width: 136px;
    top: 26px;
    right: -159px;
  }
}

.additional-field__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 13px;
  text-transform: uppercase;
  color: #000000;
}

.additional-field__item {
  padding: 6px 0;
}

.check__sort {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: -3px;
  left: 0;
  box-sizing: border-box;

  &:hover {
    border-color: #bababa;
  }

  &:focus {
    border-color: #f06351;
  }

  &:focus-visible {
    outline: none;
  }
}
