.check {
  padding-left: 46px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  & input[type="checkbox"]:checked + .check__sort::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    background-image: url("../../img/form/check-sort-image.svg");
    background-repeat: no-repeat;
    top: 6px;
    left: 6px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/form/check-sort-image-medium.svg");
      width: 24px;
      height: 19px;
      top: 11px;
      left: 8px;
    }
  }
}

.check__name {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.check__sort {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: 0;
  left: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: 0;
  }

  &:hover {
    border-color: #bababa;
  }

  &:focus {
    border-color: #f06351;
  }

  &:focus-visible {
    outline: none;
  }
}
