.comment-field {
  @include font-form;
  padding: 12px 0 13px;

  @media (min-width: $tablet-width) {
    padding: 33px 0 33px;
    flex-direction: column;
  }
}

.comment-field__title {
  @include field-title;
  position: relative;
  padding: 11px 160px 25px 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 31px 454px 43px 1px;

    &::before {
      bottom: 55px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 35px 1038px 43px 0;
  }

  &::after {
    @include title-line;
    width: 157px;
    top: 26px;
    right: -20px;

    @media (min-width: $tablet-width) {
      width: 478px;
      top: 53px;
      right: -65px;
    }

    @media (min-width: $desktop-width) {
      width: 1108px;
      top: 57px;
      right: -109px;
    }
  }
}

.input--comment {
  min-height: 150px;
  padding: 8px 15px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 9px 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 19px;
  }

  &::placeholder {
    position: absolute;
    text-transform: uppercase;
  }
}

.comment-field__name {
  display: none;
}
