.contact-field {
  @include font-form;
  padding: 26px 0 12px;
  row-gap: 14px;
  column-gap: 10px;
  text-transform: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 75px 0 33px;
  }
}

.contact-field__title {
  padding: 26px 83px 0 0;

  @media (min-width: $tablet-width) {
    padding: 75px 120px 0 0;

    &::before {
      bottom: 12px;
    }
  }

  &::after {
    @include title-line;
    width: 99px;
    top: 41px;
    right: -20px;

    @media (min-width: $tablet-width) {
      width: 145px;
      top: 99px;
      right: -68px;
    }
  }
}

.contact-field__container {
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    width: 100%;
  }
}
