.contact-field {
  @include font-form;
  padding: 26px 0 12px;
  row-gap: 12px;
  column-gap: 10px;
  text-transform: none;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 75px 0 33px;
    row-gap: 18px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 78px;
    padding: 69px 0 33px;
  }
}

.contact-field__title {
  @include field-title;
  padding: 27px 83px 9px 0;

  @media (min-width: $tablet-width) {
    padding: 74px 118px 0 2px;

    &::before {
      bottom: 12px;
      left: -107px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 67px 705px 7px 0;

    &::before {
      bottom: 18px;
    }
  }

  &::after {
    @include title-line;
    width: 99px;
    top: 43px;
    right: -20px;

    @media (min-width: $tablet-width) {
      width: 145px;
      top: 96px;
      right: -68px;
    }

    @media (min-width: $desktop-width) {
      width: 778px;
      top: 88px;
      right: -110px;
    }
  }
}

.contact-field__container {
  @include field-container;
  position: relative;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 23px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.contact-field__name {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contact-field__input {
  padding: 14px 46px 13px 15px;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 18px;
  }
}
// посмотреть как реализован в футере логотип разработчика
