.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 26px 0 388px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 59px 0 456px;
  }
}

.contacts__container {
  display: flex;
  justify-content: left;
  gap: 2px;

  @media (min-width: $tablet-width) {
    gap: 0;
    justify-content: space-between;
  }
}

.contacts__title {
  @include visually-hidden;
}

.contacts__text {
  margin: 0;
  font-family: $font-large;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__adress {
  margin: 0;
  font-family: $font-low;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    text-align: end;
    padding: 0 40px;
    font-size: 16px;
  }
}

.contacts__map {
  position: absolute;
  border: none;
  top: 112px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
    top: 194px;
  }
}
