.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 26px 0 26px;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    padding: 56px 0 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    flex-direction: row;
    padding: 95px 0 107px 110px;
    max-width: 565px;
    justify-self: flex-start;
  }
}

.contacts--background {
  background-color: inherit;
}

.contacts__container {
  position: relative;
  display: flex;
  gap: 17px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 60px 42px 80px;
    width: 565px;
    box-sizing: border-box;
    align-items: center;
    background-color: #ffffff;
    z-index: 5;
    margin: 0;
    min-width: 0;
  }
}

.contacts__title {
  @include visually-hidden;
}

.contacts__text {
  margin: 0;
  font-family: $font-large;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 124px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 4px;
    align-self: flex-start;
    margin-top: 0;
  }
}

.contacts__adress-container {
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 18px;
    padding-right: 15px;
  }
}

.contacts__adress-container--padding {
  @media (min-width: $desktop-width) {
    gap: 0;
    max-width: 150px;
    padding-right: 25px;
  }
}

.contacts__adress {
  margin: 0;
  font-family: $font-low;
  font-size: 14px;
  line-height: 20px;
  min-width: 139px;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    text-align: end;
    padding: 0 40px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    padding: 0;
  }
}

.contacts__adress-br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
