.copyright {
  padding: 20px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 168px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover .copyright__logo {
    color: #68b738;
  }

  &:active .copyright__logo {
    color: #68b738;
  }

  &:active {
    opacity: 30%;
  }

  &:focus {
    outline: 2px solid #68b738;
    outline-offset: 2px;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    gap: 28px;
    width: 168px;
    margin: 0;
    padding: 0;
  }
}

.copyright__text {
  display: flex;
  margin: 0;
  font-family: $font-low;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  margin-bottom: 3px;
}

.copyright__logo {
  color: #666666;
  padding-bottom: 5px;
}
