.data-field {
  padding: 19px 0 24px;
  gap: 12px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 33px 0 72px;
    flex-direction: column;
    gap: 20px;
  }

  &::after {
    @include large-divider;
    left: -20px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 50%;
  }
}

.data-field__container {
  @include field-container;
  gap: 13px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    min-width: 569px;
  }
}

.data-field__title {
  @include font-form;
  display: flex;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 2px;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.data-field__head-title {
  @include visually-hidden;
}

