.example {
  background-color: #eaeaea;
  padding: 25px 0 290px;

  @media (min-width: $tablet-width) {
    padding: 43px 0 230px;
    background: linear-gradient(to bottom, #ffffff 48%, #f2f2f2 48%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px;
    background: linear-gradient(to bottom, #ffffff 24%, #f2f2f2 24%);
  }
}

.example__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 224px;
  }
}

.example__text-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 436px;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    background-color: transparent;
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  font-family: $font-low;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__data-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__data-options {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  margin: 0;
  gap: 32px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__block-container {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  gap: 8px;
  padding-top: 15px;

  &:nth-child(2) {
    grid-column: 2/3;

    &::before {
      @media (min-width: $tablet-width) {
        background-image: url("../../img/index/example-rectangle-bottom.svg");
      }
    }
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/index/example-rectangle.svg");
    background-repeat: no-repeat;
    width: 124px;
    height: 56px;
    top: 0;

    @media (min-width: $tablet-width) {
      background-size: 162px 72px;
      width: 162px;
      height: 72px;
    }
  }
}

.example__number {
  font-family: $font-low;
  font-size: 12px;
  line-height: 12px;
  max-width: 77px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    max-width: 125px;
  }
}

.example__text {
  display: flex;
  font-family: $font-large;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__data-costs {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 174px;
    text-align: end;
    margin-bottom: 0;
    font-size: 20px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.example__costs-container {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 63px;
  }
}

.example__costs-title {
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    max-width: 175px;
  }
}

.example__cost {
  margin-left: 5px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 120px;
  }
}

.example__image-container {
  position: relative;
  display: flex;
  background-color: inherit;
}

.example__image-block {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.example__image-before,
.example__image-after {
  overflow: hidden;
}
