.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  appearance: textfield;
}

.input {
  @include font-form;
  @include input-number;
  display: flex;
  padding: 13px 20px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  border-radius: 0;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }

  &:disabled {
    opacity: 30%;
  }
}

.input--age {
  width: 10px;
}

.input--email {
  border-color: #cdcdcd;

  &:hover {
    border-color: #e7e7e7;
  }

  &:focus ~ .input--email__image {
    color: #68b738;
  }

  &:invalid:not(:placeholder-shown) ~ .input--email__image {
    color: #ff8282;
  }
}

.input--email__image {
  position: absolute;
  content: "";
  right: 14px;

  @media (min-width: $tablet-width) {
    right: 20px;
  }
}

.input--tel {
  border-color: #cdcdcd;

  &:hover {
    border-color: #e7e7e7;
  }

  &:focus ~ .input--tel__image {
    color: #68b738;
  }

  &:invalid:not(:placeholder-shown) ~ .input--tel__image {
    color: #ff8282;
  }
}

.input--tel__image {
  position: absolute;
  content: "";
  right: 16px;

  @media (min-width: $tablet-width) {
    right: 19px;
  }
}
