.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  appearance: textfield;
}

.input {
  @include font-form;
  @include input-number;
  padding: 13px 20px 14px;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
  border-radius: 0;
  min-width: 130px;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: #444444;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }

  &:disabled {
    opacity: 30%;
  }
}

.input--age {
  width: 10px;
}

.input--email {
  position: relative;
  border-color: #cdcdcd;

  &:hover {
    border-color: #e7e7e7;
  }
}

.input--tel {
  position: relative;
  border-color: #cdcdcd;

  &:hover {
    border-color: #e7e7e7;
  }
}

.input--comment {
  min-height: 150px;
  padding: 8px 15px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 9px 21px;
    min-height: 174px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 19px;
  }

  &::placeholder {
    position: absolute;
    text-transform: uppercase;
  }
}
