.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 57px;
  padding: 5px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid #68b738;
    outline-offset: 5px;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
