.products {
  transition: 1s;

  @media (min-width: $tablet-width) {
    padding: 151px 0 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 0 41px;
  }
}

.products__container {
  min-width: 280px;
}

.products__head-title {
  @include visually-hidden;
}

.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
  }
}

.products__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 21px 0 23px;

  & .products__item-description:nth-child(n+1):not(:nth-child(4)) {
    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &:nth-child(2) .products__image {
    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 45px;
    }
  }

  &:nth-child(odd) .products__image {
    padding-top: 12px;

    @media (min-width: $tablet-width) {
      padding-top: 27px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 42px;
    }
  }

  &:first-child .products__image {
    padding-top: 0;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &:nth-child(3) .products__image {
    padding-top: 9px;
  }

  &:nth-child(5) .products__image {
    padding-top: 15px;
  }

  &:nth-child(7) .products__image {
    padding-top: 9px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 37px 39px;
    background-color: #f2f2f2;
    min-height: 430px;
    row-gap: 0;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 39px 40px 41px;
    min-width: 245px;
  }

  &:first-child::before {
    @include large-divider;
    top: 0;
    left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    @include large-divider;
    margin-left: -20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.products__item-link {
  display: flex;
  justify-self: center;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.products__image {
  transition: 1s;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin-top: -110px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    left: 17%;
    top: -79px;
    margin-bottom: 43px;
  }
}

.products__link {
  grid-column: 2/3;
  grid-row: 1/2;
  display: block;
  text-decoration: none;
  padding-right: 66px;
  font-family: $font-large;
  height: fit-content;
  margin-bottom: 15px;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    max-width: 174px;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 0 6px;
    max-width: 145px;
  }

  &:hover .products__title {
    color: #68b738;
  }

  &:active .products__title {
    color: #f06351;
  }

  &:focus .products__title {
    outline: 2px solid #68b738;
  }

  &:focus-visible {
    display: none;
  }
}

.products__title {
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    padding-left: 2px;
  }
}

.products__item-name {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: repeat(2, 1fr);
  font-family: $font-low;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
  margin-bottom: 22px;
  align-items: center;
  height: fit-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    min-width: 250px;
    row-gap: 16px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    min-width: 169px;
  }
}

.products__item-parametrs {
  position: relative;
  display: flex;

  @media (min-width: $tablet-width) {
    &::after {
      @include small-divider;
      width: calc(100% + 100%);
      bottom: -9px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      @include small-divider;
      width: calc(100% + 100%);
      bottom: -9px;
      left: -2px;
    }
  }
}

.products__item-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  align-self: center;
}

.products__item-button {
  @include buttons;
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
}

.products__item--more {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
  padding-top: 79px;
  text-align: center;

  @media (min-width: $tablet-width) {
    outline: 2px solid #f2f2f2;
    padding: 5px 37px 38px;
    background: #ffffff;
    min-height: 429px;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    padding: 160px 38px 41px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/catalog/more-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    top: 26px;
    left: 50%;
    transform: translateX(-15px);

    @media (min-width: $tablet-width) {
      background-image: url("../../img/catalog/more-plus-large.svg");
      width: 60px;
      height: 60px;
      top: 53px;
      transform: translateX(-30px);
    }

    @media (min-width: $desktop-width) {
      top: 51px;
    }
  }
}

.products__text {
  font-family: $font-large;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
  }
}

.products__description {
  margin: 0;
  font-family: $font-low;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.products__button {
  @include buttons;
  background-color: #f2f2f2;
  color: #444444;
  width: 100%;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgb(68, 68, 68, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
