.programs {
  transition: 0.5s;
}

.programs__head-title {
  @include visually-hidden;
}

.programs__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.programs__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 82px;
  }
}

.programs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 30px 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 52px 59px;
  }

  &::before {
    @include programs-picture-background-mobile();
    left: 21px;

    @media (min-width: $tablet-width) {
      top: 92px;
      left: unset;
      right: 62px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      right: unset;
      left: 52px;
    }
  }

  &:nth-child(1)::after {
    @include programs-picture-image;
    background-image: url("../../img/index/programs-cat.svg");
    width: 37px;
    height: 50px;
    top: 21px;
    left: 28px;

    @media (min-width: $tablet-width) {
      @include programs-picture-image;
      background-size: 141px 194px;
      width: 141px;
      height: 194px;
      top: 81px;
      left: unset;
      right: 92px;
    }

    @media (min-width: $desktop-width) {
      @include programs-picture-image;
      background-size: 71px 97px;
      width: 71px;
      height: 97px;
      top: 41px;
      left: 67px;
    }
  }

  &:nth-child(2)::after {
    @include programs-picture-image;
    background-image: url("../../img/index/programs-cugar.svg");
    width: 68px;
    height: 29px;
    top: 35px;
    left: 12px;

    @media (min-width: $tablet-width) {
      @include programs-picture-image;
      background-size: 269px 113px;
      width: 269px;
      height: 113px;
      top: 135px;
      left: unset;
      right: 28px;
    }

    @media (min-width: $desktop-width) {
      @include programs-picture-image;
      background-size: 135px 57px;
      width: 135px;
      height: 57px;
      top: 67px;
      left: 33px;
    }
  }
}

.programs__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 71px;
  margin-bottom: 29px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 0 36px 162px;
    margin-bottom: 37px;
  }
}

.programs__description {
  position: relative;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    bottom: -23px;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.programs__link {
  display: inline;
  position: relative;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 4px 0;
  padding-right: 51px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-right: 57px;
    max-width: 180px;
  }

  &::after {
    @include programs-arrow;
    transition: 0.3s;
    background-image: url("../../img/index/programs-link-arrow.svg");

    @media (min-width: $tablet-width) {
      left: 130px;
      top: 9px;
    }
  }

  &:hover::after {
    @include programs-arrow;
    background-image: url("../../img/index/programs-link-arrow-large.svg");

    @media (min-width: $tablet-width) {
      left: 130px;
      top: 9px;
    }
  }

  &:active {
    opacity: 30%;
  }

  &:active::after {
    @include programs-arrow;
    background-image: url("../../img/index/programs-link-arrow-large.svg");

    @media (min-width: $tablet-width) {
      left: 130px;
      top: 9px;
    }
  }

  &:focus {
    outline: 2px solid #68b738;
    outline-offset: 5px;
  }
}
