.radio {
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  & input[type="radio"]:checked + .radio__sort::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #68b738;
    border-radius: 50%;
    top: 8px;
    left: 8px;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
    }
  }
}

.radio__sort {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }

  &:hover {
    border-color: #bababa;
  }

  &:focus {
    border-color: #f06351;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled + .radio__name {
    opacity: 30%;
  }
}
