.radio {
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  & input[type="radio"]:checked + .radio__sort::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #68b738;
    border-radius: 50%;
    top: 8px;
    left: 8px;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      top: 10px;
      left: 10px;
    }
  }
}
