.selection {
  @media (min-width: $tablet-width) {
    padding: 0 37px 0;
  }
}

.selection__title {
  margin: 0;
  padding: 37px 0 20px;
  font-family: $font-large;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 27px 0 33px;
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__field {
  position: relative;
  border: none;
  margin: 0;
  display: flex;
}

.selection__bottom {
  display: flex;
  flex-direction: column;
  padding: 16px 0 32px;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 64px;
  }
}

.selection__button {
  width: 280px;
  height: 40px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: 282px;
    font-size: 20px;
    height: 52px;
  }
}

.selection__tooltip {
  padding: 21px 0 0;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 16px;
  }
}
