.social {
  padding-bottom: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 56px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0;
  }
}

.social__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.social__logo {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 14px;
  padding-top: 36px;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: fit-content;
    padding: 0;
  }

  &::after {
    @include small-divider;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.logo--footer {
  height: fit-content;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    justify-self: start;
    width: fit-content;
  }
}

.social__list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 18px 0 17px;
  list-style-type: none;
  gap: 25px;
  width: 100%;

  @media (min-width: $tablet-width) {
    gap: 25px;
    padding: 0;
    margin-left: 25px;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
    margin-bottom: 4px;
    gap: 27px;
  }

  &::after {
    @include small-divider;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.social__item {
  &:nth-child(2) {
    margin-right: 5px;

    @media (min-width: $desktop-width) {
      margin-right: 3px;
      margin-top: 1px;
    }
  }

  &:nth-child(3) {
    margin-right: 5px;

    @media (min-width: $desktop-width) {
      margin-top: 2px;
      margin-right: 10px;
    }
  }
}

.social__link {
  display: flex;
  padding: 4px 0 3px;
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: rgba(104, 183, 56, 30%);
  }

  &:focus {
    outline: 2px solid #68b738;
  }
}

.copyright__logo {
  padding-bottom: 5px;
}
