.target-field {
  position: relative;
  padding: 22px 0 19px;

  @media (min-width: $tablet-width) {
    outline: 1px solid #e7e7e7;
    padding: 24px 29px 25px;
    margin-left: 5px;
  }

  &::after {
    @include large-divider;
    left: -20px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 25px 28px;
    width: 50%;
    box-sizing: border-box;
  }
}

.target-field__title {
  @include visually-hidden;
}

.target-field__list {
  @include font-form;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 13px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.target-field__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.target-field__input {
  @include visually-hidden;

  &:disabled ~ span {
    opacity: 30%;
  }
}
