.target-field {
  position: relative;
  padding: 28px 0 25px;

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 28px 29px;
  }

  &::after {
    @include large-divider;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.target-field__title {
  @include visually-hidden;
}

.target-field__list {
  @include font-form;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 13px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.target-field__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.target-field__input {
  @include visually-hidden;
}

.radio__sort {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
  left: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }

  &:hover {
    border-color: #bababa;
  }

  &:focus::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    outline: 2px solid #f06351;
    top: -3px;
    left: -3px;
  }

  &:focus-visible {
    outline: none;
  }
}
