@mixin small-divider {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;
}

@mixin large-divider {
  position: absolute;
  content: "";
  width: calc(100% + 40px);
  height: 1px;
  background-color: #ebebeb;
  bottom: 0;
  left: 0;
}

@mixin programs-arrow {
  position: absolute;
  content: "";
  height: 12px;
  width: 32px;
  top: 6px;
  right: 4px;
}

@mixin advantages-picture {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

@mixin programs-picture-background-mobile {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-color: #68b738;
  border-radius: 50%;
  background-position: center;
  width: 50px;
  height: 50px;
  top: 24px;
  left: 21px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 92px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    width: 100px;
    height: 100px;
  }
}


@mixin programs-picture-image {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

@mixin buttons {
  font-size: 16px;
  line-height: 18px;
  width: 280px;
  min-height: 40px;
}

@mixin font-form {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

@mixin input-number {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

@mixin title-line {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #68b738;
}

@mixin title-line-left {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #68b738;
  width: 30px;
  left: -67px;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin advantages-number {
  position: absolute;
  font-size: 280px;
  line-height: 280px;
  font-family: $font-large;
  color: #f2f2f2;
  top: -39px;
  left: 116px;
}

@mixin field-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
}

@mixin field-title {
  position: relative;
  font-family: $font-large;
  font-size: 24px;
  line-height: 26px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      @include title-line-left;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      @include title-line-left;
      width: 70px;
      left: -108px;
    }
  }
}

@mixin header-button {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  top: 3px;
  left: 0;
}
